@import "tailwindcss";

:root {
  --background: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --font-sans: var(--font-league-spartan);
}

body {
  background: var(--background);
  font-family: var(--font-sans), Helvetica, sans-serif;
}
